/* Imágenes carrusel */
#producto-detalle {
    padding: 30px 30px;
}


.img-carousel-detalle {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    
}

.descripcion-detalle {
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 15px;
}


.carousel-detalle .carousel-inner {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px black; /* sombra bordó suave */
}

.carousel-detalle:hover .carousel-inner {
    box-shadow: 0 0 35px black;
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
}


/* Precio */
.precio-detalle {
    font-size: 2rem;
    color: #6a0f1f;
    font-weight: 700;
}

/* Marca */
.marca-detalle {
    color: #666;
    font-size: 1rem;
}

/* Botón comprar ahora */
.boton-comprar-ahora {
    background-color: #6a0f1f;
    color: white;
    border: none;
    font-weight: 600;
}

.boton-comprar-ahora:hover {
    background-color: white;
    color: black;
    transform: translateY(-2px);
    border: 1px solid black;
}

#btn-agregar:hover {
    background-color: white;
    color: black;
    transform: translateY(-2px);
}

/* Botón volver */
.btn-volver {
    background-color: #ffffffd9;
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: transform .15s ease, background-color .2s ease;
}

.btn-volver:hover {
    background-color: #fff;
    transform: translateX(-3px);
}

.btn-volver i {
    color: #721d1d; /* Bordó/rojo oscuro del estilo de tu sitio */
    font-weight: bold;
}



/* Responsive */
@media (max-width: 768px) {
    .img-carousel-detalle {
        height: 320px;
    }
}
