/*Cards recetas*/
.recetas .container {   
    padding: 20px;
}

.recetas .row {
    width: 100%; 
}

.card-receta {
margin: 20px auto;  
width: 100%;
/*width: 18rem;*/
/*max-width: 250px;*/
transition: transform 0.3s ease, box-shadow 0.3s ease;
background: #fff;
border-radius: 10px;
box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
overflow: hidden;
font-family: "Segoe UI", sans-serif;
}

.card-receta:hover {
transform: scale(1.05); 
box-shadow: 0 8px 16px gray; 
}

.card-receta img {
width: 100%;
height: 200px;
object-fit: cover;
}

.card-content {
padding: 15px 18px;
}

.card-content h3 {
margin: 0;
font-size: 20px;
font-weight: 600;
color: #8b304c; 
}

.card-content .desc {
font-size: 14px;
color: #555;
margin: 6px 0 16px;
}

.btn-ver {
display: inline-block;
background: #f1a8b8;   
color: #fff;
padding: 8px 12px;
border-radius: 6px;
text-decoration: none;
font-size: 14px;
transition: background 0.2s ease;
}

.btn-ver:hover {
background: rgba(227, 40, 100, 0.74);
}

/*Responsive*/

@media (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .hero-text {
        text-align: center;
    }

    .hero-img img {
        height: auto;
        border-radius: 6px;
    }
}

