/* Hero */

.hero-imagen-comida {
    width: 100%;    
}

.white-box {
    text-align: center; 
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    background-color: white;
    padding: 5px;
    max-width: 20%;
    border: 2px solid transparent; 
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

/*Carrusel recomendaciones*/

.recomendaciones {   
    padding-right: 25px;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 20px 20px;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

/*Cards recetas*/
.recetas .container {   
    padding: 20px;
}

.recetas .row {
    width: 100%; 
}

.card-receta {
margin: 20px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
background: #fff;
border-radius: 10px;
box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
overflow: hidden;
font-family: "Segoe UI", sans-serif;
}

.card-receta:hover {
transform: scale(1.05); 
box-shadow: 0 8px 16px gray; 
}

.card-receta img {
width: 100%;
height: 200px;
object-fit: cover;
}

.card-content {
padding: 15px 18px;
}

.card-content h3 {
margin: 0;
font-size: 20px;
font-weight: 600;
color: #8b304c; 
}

.card-content .desc {
font-size: 14px;
color: #555;
margin: 6px 0 16px;
}

.btn-ver {
display: inline-block;
background: #f1a8b8;   
color: #fff;
padding: 8px 12px;
border-radius: 6px;
text-decoration: none;
font-size: 14px;
transition: background 0.2s ease;
}

.btn-ver:hover {
background: rgba(227, 40, 100, 0.74);
}

/* Sección de suscripción de pagina de inicio */

/* Contenedor general */
.suscripcion-section {
    max-width: 960px;
    margin: 0 auto 0 auto;
}

.suscripcion-wrapper {
    overflow: hidden;
}

/* Imagen */
.suscripcion-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Panel bordó */
.suscripcion-contenido {
    background-color: #6a0f1f;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Textos */
.suscripcion-titulo {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 700;
}

.suscripcion-texto {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Botón */
.suscripcion-boton {
    background-color: #f7b5c5;
    color: #6a0f1f;
    padding: 12px 22px;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s ease;
    width: fit-content;
    
}

.suscripcion-boton:hover {
    background-color: #ffffff;
}

/* Sección Promo Tienda */

.promo-tienda-section {
    max-width: 960px;
    margin: 0 auto;
}

.promo-tienda-wrapper {
    overflow: hidden;
}

/* Panel Izquierdo */
.promo-tienda-contenido {
    background-color: #a7846b;
    padding: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo-tienda-titulo {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: bold;
}

.promo-tienda-texto {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.6;
}

/* Botón */
.promo-tienda-boton {
    background-color: #f7d7c4;
    color: #5b3b22;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
    transition: 0.2s ease;
}

.promo-tienda-boton:hover {
    background-color: #ffece0;
}

/* Carrusel */
.promo-tienda-carrusel .carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}

.img-promo-tienda {
    height: 350px;       
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/* Responsive */

@media (max-width: 768px) {

    .img-promo-tienda {
        height: 260px;
    }

    .promo-tienda-carrusel img {
        height: 260px;
    }

    .white-box {
        position: static;
        transform: none;
        margin: 10px auto;
        max-width: 90%;
    }

    .suscripcion-imagen img {
        height: 260px;
    }

    
}

@media (min-width: 992px) {
    .carousel-wrapper {
        padding-right: 40px;
    }
}

@media (max-width: 576px) {
    .carousel-wrapper {
        padding-left: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-wrapper {
        padding-right: 30px;
    }
}
